.features{
    padding: 80px 0px 40px;

    @media (max-width: 1199px) {
        padding: 50px 0px 20px;
    }

    &__cards{
        display: flex;
        flex-direction: column;
    }

    &__card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        border-bottom: 1px solid #E1E1E1;

        @media (max-width: 1199px) {
            padding-bottom: 20px;
        }

        @media (max-width: 899px) {
            flex-flow: row-reverse;
        }

        @media (max-width: 599px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 10px;
        }
    }

    &__card + &__card{
        padding-top: 40px;

        @media (max-width: 1199px) {
            padding-top: 50px;
        }
    }

    &__card:first-child{
        align-self: center;
    }

    &__card:nth-child(even){
        flex-flow: row-reverse;

        @media (max-width: 599px) {
            flex-flow: column-reverse;
        }
    }

    &__card:last-child{
        border-bottom: none;
        padding-bottom: 0px;
    }

    &__content{
        width: 530px;

        @media (max-width: 599px) {
            width: 290px;
        }
    }

    &__header{
        margin-bottom: 30px;
    }

    &__title{
        margin-bottom: 30px;
    }

    &__text{
        padding-right: 130px;

        font-weight: 500;
        font-size: 14px;
        line-height: 2.14;

        @media (max-width: 899px) {
            padding-right: 0px;
        }
    }
}