.form-btn{
    display: inline-block;

    padding: 21px 41px 22px 40px;

    border-radius: 30px;

    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: $main-green;
    color: white;
}