.header-form{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;

    @media (max-width: 899px) {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;

        & > button{
            width: 370px;
        }
    }

    @media (max-width: 599px) {
        & > button{
            width: 290px;
        }
    }
}

.header-form__input{
    width: 240px;
    height: 60px;
    padding: 21px 30px 22px;

    border-radius: 30px;
    background: rgba(0, 0, 0, 0.75);

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: white;

    @media (max-width: 899px) {
        width: 370px;
    }

    @media (max-width: 599px) {
        width: 290px;
    }

    &::placeholder{
        color: white;
    }
}