@mixin plan-title ($fz, $color){
    font-weight: 700;
    font-size: $fz;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color;
}

.plan{
    height: 987px;
    padding: 90px 0px 100px;

    @media (max-width: 1199px) {
        height: 837px;
        padding: 50px 0px 30px;
    }

    @media (max-width: 899px) {
        height: auto;
        padding-bottom: 40px;
    }

    @include overlay (url("./../img/bg/plan-bg.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;
    color: white;

    &__wrapper{

    }

    &__over-header{
        margin-bottom: 40px;

        @media (max-width: 1199px) {
            margin-bottom: 20px;
        }
    }

    &__undertitle{
        @include plan-title(16px,white);

        @media (max-width: 899px) {
            font-size: 14px;
        }
    }

    &__header{
        margin-bottom: 80px;

        @media (max-width: 1199px) {
            margin-bottom: 50px;
        }

        @media (max-width: 899px) {
            margin-bottom: 40px;
        }
    }

    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 1;

        @media (max-width: 1199px) {
            font-size: 38px;
        }

        @media (max-width: 899px) {
            font-size: 30px;
        }
    }

    &__cards{
        display: flex;
        justify-content: center;
        column-gap: 30px;

        @media (max-width: 899px) {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }
}

.plan-card{
    width: 300px;
    padding: 40px 15px;

    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75);

    &:nth-child(2){
        background-color: rgba(48, 79, 254, 0.95);
    }

    @media (max-width: 1199px) {
        width: 270px;
    }

    &__header{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__tarif{
        margin-bottom: 20px;
    }

    &__title{
        @include plan-title(16px,#B2B2B2)
    }

    &:nth-child(2) &__title{
        color: white;
    }

    &__price{
        display: block;
        margin-bottom: 15px;

        @include plan-title(80px, white);
    }

    &__per-month{
        display: inline-block;
        margin-bottom: 46px;
        padding: 6px 16px;

        border-radius: 30px;
        background: rgba(255, 255, 255, 0.1);
    }

    &:nth-child(2) &__per-month{
        background-color: rgba(0, 0, 0, 0.1);
    }

    &__content{
        margin-top: 40px;
    }

    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        margin-bottom: 58px;
    }

    &__item{
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
    }
}

.form-btn--plan{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background-color: transparent;
}

.form-btn--plan-active{
    background-color: white;
    color: $text;
}